@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .buffer-div {
        @apply
            min-h-[50vh]
        ;
        margin-bottom: 50vh;
    }
}

.card {
  @apply
    flex
    flex-col
    justify-center
    w-full
    min-h-[100vh]
  ;

  animation: content-animation 1s paused;
  animation-delay: 0s;
}

.content-text {
  @apply
    text-2xl
    font-medium
    max-w-[60rem]
    place-self-center
  ;
}

@keyframes content-animation {
    0% {
      @apply
        opacity-[0%]
      ;
    }

    60% {
      @apply
        opacity-[0%]
      ;
    }
  
    100% {
      @apply
        opacity-[100%]
      ;
    }
  }