@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes title-animation {
    100% {
        @apply
            w-full
            h-[100vh]
        ;
        top: 0;
    }

    0% {
        @apply
            w-2/5
            h-[70vh]
        ;
        top: 15vh;
    }
}


@layer components {
    .profile-icon {
        @apply
          inline
          fill-[var(--primary)]
          flex-1
          w-full
          h-1/2
        ;
    }

    .title-text-container {
        @apply
            flex
            flex-col
            justify-end
        ;
    }

    .title {
        @apply
          fixed
          top-0
          w-full
          text-center
          right-0
          justify-center
          content-center
          h-[100vh]
        ;
        box-sizing: border-box;
        animation: title-animation 1s paused;
        animation-delay: 0s;
    }

    .container-social {
        @apply
            w-full
            h-16
            mt-5
            flex
            flex-row
            justify-center
        ;
    }

    .title-buffer {
        @apply
            w-full
            h-[100vh]
        ;
    }

    .social {
        @apply
            w-24
        ;
        .icon {
            @apply
                fill-[var(--primary)]
            ;
        }
    }
}