@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes title-animation {
    100% {
        @apply
            w-full
        ;
    }

    0% {
        @apply
            w-[40%]
        ;
    }
}

@layer components {

    .title-buffer {
        @apply
            w-full
            h-[100vh]
        ;
    }

    .title-container {
        @apply
            fixed
            top-[0%]
            m-0
            p-0
            right-0
            w-full
            h-full
            min-h-[121px]
            min-w-[120px]
            box-border
        ;
        --title-font-size: calc(100% + 4vh + 2vmin);
        --subtitle-font-size: calc(0.7 * var(--title-font-size));
        --icon-height: 6vh;

        display: grid;
        contain: size;
        z-index: 1;
        grid-template-rows: 3fr 3fr 1fr 3fr;
        animation: title-animation 1s paused;
        animation-delay: -1s;
    }

    .title-text-container {
        @apply
            w-full
            h-full
            justify-center
            content-center
            text-center
            box-border
            flex-col
            flex
        ;
        grid-row: 1;
    }

    .nav-container {
        @apply
            w-full
            flex
            flex-col
            justify-center
            content-center
            text-center
        ;
    }

    .nav-item {
        @apply p-2;
        }
        
        .nav-item-text {
        @apply p-2 text-[var(--primary)] text-xl font-semibold opacity-[40%] hover:opacity-[100%];
    }

    .nav-active {
        @apply underline opacity-[100%];
    }

    .text-title {
        font-size: var(--title-font-size);
    }

    .text-subtitle {
        font-size: var(--subtitle-font-size);
    }

    .title-icon {
        @apply
            w-full
            h-full
            m-0
            p-0
        ;
        grid-row: 2;
    }

    .title-social-container {
        @apply
            w-full
            h-full
            flex
            flex-row
            justify-center
            pt-[1vh]
            box-border
        ;
        grid-row: 3;
    }

    .social {
        @apply
            flex
            flex-row
        ;
        margin-inline: calc(0.5vw);
        height: var(--icon-height);
        .icon {
            @apply
                h-[100%]
                w-[auto]
            ;
            aspect-ratio: 1 / 1;
        }
    }
}

/* Mobile settings */

@keyframes title-animation-mobile {

    100% {
        @apply
            top-[25dvh]
            h-[50dvh]
        ;
        --icon-height: 6vh;
        --title-font-size: var(--title-font-size-base);
    }

    50% {
        --title-font-size: calc(var(--title-font-size-base) * 0.75);
        --icon-height: 5.5vh;
    }

    0% {
        @apply
            top-[0dvh]
            h-[20dvh]
        ;
        --icon-height: 3vh;
        --title-font-size: calc(var(--title-font-size-base) * 0.5);
    }
}

@media screen and (max-width: 480px) {
    :root {
        --title-font-size-base: calc(90% + 3vh + 1.5vmin);
    }

    .title-container {
        animation-name: title-animation-mobile;
        @apply
            top-[25%]
            h-[50%]
            min-h-[121px]
            min-w-[120px]
        ;
        --title-font-size: var(--title-font-size-base);
        grid-template-rows: repeat(2, 40%) 20%;
        --color-start: color-mix(in srgb, var(--bg-secondary), transparent 30%);
        --color-end: color-mix(in srgb, var(--bg-secondary), transparent 0%);
        background: linear-gradient(0deg, var(--color-start), var(--color-end));
    }
    .nav-container {
        display: none;
    }
}