@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply
    p-0
    m-0
    fill-[--primary]
  ;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --primary: #222831;
  --secondary: rgb(182, 103, 24);
  --bg-primary: #C1C6CF;
  --bg-secondary: #EEEEEE;
}

:root.dark {
  --bg-primary: #222831;
  --bg-secondary: #31363F;
  --primary: #EEEEEE;
  --secondary: #FFBA08dd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #222831;
    --bg-secondary: #31363F;
    --primary: #EEEEEE;
    --secondary: #FFBA08dd;
  }
  :root.light {
    --primary: #222831;
    --secondary: rgb(182, 103, 24);
    --bg-primary: #C1C6CF;
    --bg-secondary: #EEEEEE;
  }
}

body {
  user-select: none;
  color: var(--primary);
  background: var(--bg-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary {
    color: var(--primary);
    fill: var(--primary);
  }
  
  .text-secondary {
    color: var(--secondary);
    fill: var(--secondary);
  }
  
  .bg-primary {
    background: var(--bg-primary);
  }
  
  .bg-secondary {
    background: var(--bg-secondary);
  }
}

@layer components {
  .main {
    @apply
      items-center
      w-full
      justify-between
      p-0
      m-0
    ;
  }


}



