@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply
    p-0
    m-0
    fill-[--primary]
  ;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  svg {
    stroke-width: 0.5;
  }
}

:root {
  --primary: #222831;
  --secondary: rgb(182, 103, 24);
  --bg-primary: #C1C6CF;
  --bg-secondary: #EEEEEE;
}

:root.dark {
  --bg-primary: #222831;
  --bg-secondary: #31363F;
  --primary: #EEEEEE;
  --secondary: #FFBA08dd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #222831;
    --bg-secondary: #31363F;
    --primary: #EEEEEE;
    --secondary: #FFBA08dd;
  }
  :root.light {
    --primary: #222831;
    --secondary: rgb(182, 103, 24);
    --bg-primary: #C1C6CF;
    --bg-secondary: #EEEEEE;
  }
}

body {
  color: var(--primary);
  background: var(--bg-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary {
    color: var(--primary);
    fill: var(--primary);
  }
  
  .text-secondary {
    color: var(--secondary);
    fill: var(--secondary);
  }
  
  .bg-primary {
    background: var(--bg-primary);
  }
  
  .bg-secondary {
    background: var(--bg-secondary);
  }

  .big-text {
    @apply text-2xl;
  }

  .bigger-text {
    @apply text-4xl;
  }

  .title-text {
    @apply text-6xl;
  }
}

@layer components {
  .main {
    @apply
      items-center
      w-full
      justify-between
      p-0
      m-0
    ;
  }
}



@media screen and (max-width: 480px) {
  .big-text {
    @apply text-lg;
  }
  
  .bigger-text {
    @apply text-xl;
  }

  .title-text {
    @apply text-3xl;
  }
}

.icon-small {
  svg {
    width: 1.5em;
    height: 1.5em;
  }
}

.icon-medium {
  svg {
    width: 3em;
    height: 3em;
  }
}

.icon-large {
  svg {
    width: 6em;
    height: 6em;
  }
}